@font-face {
  font-family: "iranyekan-bold";
  font-style: normal;
  font-weight: bold;
  src: url("@assets/fonts/IranYekan/eot/bold.eot");
  src: url("@assets/fonts/IranYekan/eot/bold.eot?#iefix") format("embedded-opentype"),
    url("@assets/fonts/IranYekan/woff/bold.woff") format("woff"),
    url("@assets/fonts/IranYekan/ttf/bold.ttf") format("truetype");
}

@font-face {
  font-family: "iranyekan-thin";
  font-style: normal;
  font-weight: 100;
  src: url("@assets/fonts/IranYekan/eot/thin.eot");
  src: url("@assets/fonts/IranYekan/eot/thin.eot?#iefix") format("embedded-opentype"),
    url("@assets/fonts/IranYekan/woff/thin.woff") format("woff"),
    url("@assets/fonts/IranYekan/ttf/thin.ttf") format("truetype");
}

@font-face {
  font-family: "iranyekan-light";
  font-style: normal;
  font-weight: 300;
  src: url("@assets/fonts/IranYekan/eot/light.eot");
  src: url("@assets/fonts/IranYekan/eot/light.eot?#iefix")
      format("embedded-opentype"),
    url("@assets/fonts/IranYekan/woff/light.woff") format("woff"),
    url("@assets/fonts/IranYekan/ttf/light.ttf") format("truetype");
}

@font-face {
  font-family: "iranyekan-regular";
  font-style: normal;
  font-weight: normal;
  src: url("@assets/fonts/IranYekan/eot/regular.eot");
  src: url("@assets/fonts/IranYekan/eot/regular.eot?#iefix")
      format("embedded-opentype"),
    url("@assets/fonts/IranYekan/woff/regular.woff") format("woff"),
    url("@assets/fonts/IranYekan/ttf/regular.ttf") format("truetype");
}

@font-face {
  font-family: "iranyekan-medium";
  font-style: normal;
  font-weight: 500;
  src: url("@assets/fonts/IranYekan/eot/medium.eot");
  src: url("@assets/fonts/IranYekan/eot/medium.eot?#iefix")
      format("embedded-opentype"),
    url("@assets/fonts/IranYekan/woff/medium.woff") format("woff"),
    url("@assets/fonts/IranYekan/ttf/medium.ttf") format("truetype");
}

@font-face {
  font-family: "iranyekan-extrabold";
  font-style: normal;
  font-weight: 800;
  src: url("@assets/fonts/IranYekan/eot/extrabold.eot");
  src: url("@assets/fonts/IranYekan/eot/extrabold.eot?#iefix")
      format("embedded-opentype"),
    url("@assets/fonts/IranYekan/woff/extrabold.woff") format("woff"),
    url("@assets/fonts/IranYekan/ttf/extrabold.ttf") format("truetype");
}

@font-face {
  font-family: "iranyekan-black";
  font-style: normal;
  font-weight: 850;
  src: url("@assets/fonts/IranYekan/eot/black.eot");
  src: url("@assets/fonts/IranYekan/eot/black.eot?#iefix")
      format("embedded-opentype"),
    url("@assets/fonts/IranYekan/woff/black.woff") format("woff"),
    url("@assets/fonts/IranYekan/ttf/black.ttf") format("truetype");
}

@font-face {
  font-family: "iranyekan-extrablack";
  font-style: normal;
  font-weight: 900;
  src: url("@assets/fonts/IranYekan/eot/extrablack.eot");
  src: url("@assets/fonts/IranYekan/eot/extrablack.eot?#iefix")
      format("embedded-opentype"),
    url("@assets/fonts/IranYekan/woff/extrablack.woff") format("woff"),
    url("@assets/fonts/IranYekan/ttf/extrablack.ttf") format("truetype");
}
